<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
  <div class="footer container">
    <div class="row">
      <div class="col-xl-3 col-xs-12 d-flex  justify-content-center ">
   <img src="/assets/image/log1.png" alt="Logo" width="100%" height="70%">

      </div>
      <div class="col-xl-3 col-xs-12">
      <ul>
        <li><b>Quick Access</b></li>
        <li><a routerLink="/help_desk">About Us</a></li>
        <li><a routerLink="/help_desk">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-xl-3 col-xs-12">
      <ul>
        <li><b>Help & Information</b></li>
        <li><a *ngIf="isHD" routerLink="/help_desk">HELP DESK</a></li>
      </ul>
    </div>

    <div class="col-xl-3 col-xs-12">
      <ul>
        <li><b>Social Media</b></li>
      </ul>
          <div class="icons">
            <ul class="social-icons">
              <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
              <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
          </ul>
          </div>
    </div>
    </div>
  </div>
</footer>

