<mat-drawer-container class="container" >
  <mat-drawer-content style=" overflow: hidden;" >
    <!-- id="{{data._id}}" -->
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center" >
      <mat-card-content   class="itemstList" *ngFor="let data of data">
        <a [routerLink]="['/item-details', data._id]"  class="data">
        <img mat-card-image src={{data.image}} alt="image">
               <div style=" padding-left:20px;display: grid;">  {{data.name}}
                  <b style="color:#8ec741"> {{data.price}} Peas</b>
                </div>
            </a>
        </mat-card-content>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
    <div class="p-num">
        <a  href="javascript: void(0);" (click)="previous()" id="pre">	&#171;&nbsp;</a>
        <span id="pageNumber"></span>
        <a   href="javascript: void(0);" (click)="next()"  id="nex">&nbsp;	&#187;</a>
    </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

