<div class="bg"></div>


<div class="container-fluid pr-0 pl-0">
    <div class="row mb-5">
      <div class="col-xl-12 col-sm-12 d-flex justify-content-center ">
        <img src="assets/image/background1.jpg" alt="Image"   width="100%">
        <div class="centered">
            <div class="justify-content-center text-center text">
         <h3>  <span class="full-text">  Welcome to EasyPeasy!<br></span>
         <span class="samll-text">  Watch our tutorial to learn how to Start!<br></span> </h3>
             <button  mat-flat-button  style="background-color: greenyellow;" color="accent">Demo</button>
        </div>
        </div>    
      </div>
    </div>
 <!-- end row -->
 <div class="container">
 <div class="row mt-5 pt-5">


  <div class="col-xl-6 col-md-6 col-sm-12 ">
 <div class="card text-center">
  <div class="card-body">
    <img src="assets/image/services.jpg" alt="Logo"   height="200px">
    <p class="card-text">Success is the delivery of a product that meets your expectation, Browse for different kinds from locals </p>
  </div>
</div>
</div>


<div class="col-xl-6 col-md-6 col-sm-12 ">
  <div class="card text-center">
   <div class="card-body">
    <img src="assets/image/product.jpg" alt="Logo"   height="200px">
     <p class="card-text">The sole reason we are in business is to make life less difficult for our clients, Find the help from nearby.</p>
   </div>
 </div>
 </div>


</div>
 <!--  -->
  <div class="row mt-5 pt-5">
    <div class="col-xl-6 col-md-6  col-sm-12 d-flex justify-content-center ">
      <img src="assets/image/background.jpeg" alt="Logo" width="500px">
    </div>
    <div class="col-xl-6 col-md-6  col-sm-12 justify-content-center  ">
   
      <div>
         <ol>
          <li> <b>Register</b> With Your Information. </li>
          <li> Browse For <b>Products and Services</b>  .</li>
          <li><b>Sell</b> Your  Products and Services. </li>
          <li><b>Easy Peasy Indeed!</b></li>
        </ol>
      </div>
    </div>
  </div>
  <!-- end -->
</div>
  </div>







