body {
  font-family: "open sans";
  overflow-x: hidden;
}
.carousel-control-prev-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png') !important;
 }
 .carousel-control-next-icon{
    background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')!important;
 }

 img {
  max-width: 100%;
  max-height: 100%;
}

.portrait {
  height: 80px;
  width: 30px;
}

.landscape {
  height: 30px;
  width: 80px;
}

.square {
  height: 75px;
  width: 75px;
}
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-self: center;
  vertical-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.card {
  margin-top: 50px;
  background: rgb(255, 255, 255);
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "futura-pt-n4", "futura-pt", Tahoma, Verdana, Arial, sans-serif;

}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
/* .item-title,
.price .sizes,
.colors {
  font-weight: bold;
} */

.checked,
.price {
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 2.8px;
  color: #8ec741;
  align-self: end
}
.priceDetails {
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 2.8px;
}

/* .item-title,
.rating,
.description,
.price,
.item-title {
  font-family: "futura-pt-n4", "futura-pt", Tahoma, Verdana, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 2.8px;
  line-height: 1.3;
  letter-spacing: 1.3px;
  padding-bottom: 12px;
} */

.size {
  margin-right: 10px;
}
.size:first-of-type {
  margin-left: 40px;
}

.description {
  color: rgb(0, 0, 0);
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
.color:first-of-type {
  margin-left: 20px;
}

.buy-now {

  background-color: #688B9A;
  padding: 1.2em 1.5em;
  border: none;
  width: 30%;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.like {

  background-color: #688B9A;
  padding: 1.2em 1.5em;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.buy-now:hover {
  background: rgb(66, 109, 1);;
  color: #fff;
}

.like:hover {
  background: #a8042d;
  color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em;
}
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.orange {
  background: #ff9f1a;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.my-card-content {
  padding: 16px;
}

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-pane {
  display: none;
  visibility: hidden;
}
.tab-content.active {
  display: block;
  visibility: visible;
}

.line{
  width: auto;
  border-bottom: 1px solid black;
  padding-bottom: 2%;
  }
  h5{
    padding-top:2%;
  }
  .description{
    color:#525151;
  }
  .space{
margin-top: 3%;
  }

  .heart {
    background-color: rgb(209, 209, 209);
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
  }

  .heart:before,
  .heart:after {
    content: "";
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }

  .heart:before {
    top: -15px;
    left: 0;
  }

  .heart:after {
    left: 15px;
    top: 0;
  }

  .heart:hover, .heart:hover:after, .heart:hover:before{
    cursor: pointer;
    background-color:red;
  }
  .fa-heart:before {
    content: "\f0aa";
  }

  button.like:hover {
      color: #49c15b !important;
      background: #C6FFCE !important;
  }

  button.has-like {
      color: #49c15b !important;
  }

  hr{
    position: relative;
    top: 20px;
    border: none;
    height: 2px;
    background: black;
    margin-bottom: 50px;
  }
