<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<div class="forgetpass" fxLayout="column" fxLayoutAlign="center center">

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- Card -->
      <h5 *ngIf="Sfrom" class="text-center mt-1 mb-3">Enter Your Email</h5>
      <div class="card  text-center pb-2">
        <div class="card-body ">

          <form *ngIf="Sfrom" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" #f='ngForm' (ngSubmit)="onSubmit(f)">


            <mat-form-field>
              <label>
                <input
                  matInput
                  placeholder="email"
                  name="email"
                  ngModel
                  required
                  #emailInput='ngModel'>
              </label>
              <mat-error *ngIf="emailInput.hasError('required')">please enter Email</mat-error>


            </mat-form-field>
            <div *ngIf="msgEr" [innerHtml]='msgEr' style="color: #ff0000;"></div>
<!--            <div *ngIf="msg" [innerHtml]='msg' style="color: #00ff22;"></div>-->

            <button mat-raised-button class="btn  mt-4" type="submit" >Send
            </button>
          </form>
          <div class=" " *ngIf="ShowMsg" >
            <div class="row">
              <p class="col-md-12">
                <img alt="{{imageAlt}}" id="im" src="assets/image/Emails.png">
              </p>
              <div class="col-12">
                <h2 *ngIf="msg"  id="msg" style="">Please Check your Email</h2>
              </div>


            </div>

<!--            <div class="row">-->
<!--            -->
<!--            </div>-->

          </div>

        </div>


      </div>

      <!-- Card -->

    </div>
    <div class="col-md-3"></div>
  </div>

</div>

</div>
