<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<div class="forgetpass" fxLayout="column" fxLayoutAlign="center center">

  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <!-- Card -->
        <h5 class="text-center mt-1 mb-3">Enter Your Paasswords</h5>
        <div class="card  text-center pb-2">
          <div class="card-body ">

            <form fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" #f='ngForm' (ngSubmit)="onSubmit(f)">


              <mat-form-field color="accent">
                <label>
                  <input
                    matInput
                    placeholder="New Password"
                    name="password"
                    [type]="hidePass ? 'password' : 'text'"
                    [(ngModel)]="password"

                    required
                    #passwordInput='ngModel'>
                  <a class="pass-btn-hide-class" mat-icon-button matSuffix (click)="hidePass = !hidePass"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hidePass">
                    <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                </label>
                <mat-error *ngIf="passwordInput.hasError('required')">please enter New password</mat-error>


              </mat-form-field>

              <app-password-strength-bar [passwordToCheck]="password"
                                         [barLabel]="barLabel">
              </app-password-strength-bar>
              <mat-form-field color="accent">
                <label>
                  <input
                    matInput
                    placeholder="Confirm New Password"
                    name="confirmPassword"
                    [type]="hidePass1 ? 'password' : 'text'"
                    ngModel
                    required
                    #confirmPasswordInput='ngModel'>
                  <a class="pass-btn-hide-class" mat-icon-button matSuffix (click)="hidePass1 = !hidePass1"
                     [attr.aria-label]="'Hide password'"
                     [attr.aria-pressed]="hidePass1">
                    <mat-icon>{{hidePass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                </label>
                <mat-error *ngIf="confirmPasswordInput.hasError('required')">please confirm password</mat-error>

              </mat-form-field>
              <div *ngIf="msgEr" [innerHtml]='msgEr' style="color: #ff0000;"></div>
              <div *ngIf="msg" [innerHtml]='msg' style="color: #00ff22;"></div>

              <button mat-raised-button class="btn  mt-4" type="submit">Send
              </button>
            </form>
          </div>
        </div>

        <!-- Card -->

      </div>
      <div class="col-md-3"></div>
    </div>

  </div>

</div>
