<mat-toolbar style="background-color:#f8f9fa;margin-top: 0.5%;">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="drawerToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div>
    <ul fxLayout  fxLayoutAlign="flex-start" >
      <li><a routerLink="/"> <img src="/assets/image/log1.png" alt="Logo" width="80%" height="80%"></a></li>
      <li><a (click)="products()">PRODUCTS</a></li>
      <li></li>
      <li><a (click)="services()">SERVICES</a></li>
    </ul>

  </div>

  <div id="search" class=" input-group" style="width:50%;" layout="row" layout-fill layout-align="center center">
    <input type="text" class="form-control" placeholder="Search..">
    <div class="input-group-append">
      <button class="btn btn-dark sea" type="button">
        SEARCH
      </button>
    </div>
  </div>

  <ul fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="flex-end" fxHide.xs>

    <li><a *ngIf="!isAuth" routerLink="/signup">
        <button mat-stroked-button class="mat-login-header">Sign up</button>
      </a></li>
    <li><a *ngIf="!isAuth" routerLink="/login">
        <button mat-stroked-button class="mat-login-header">
          Login
        </button>
      </a></li>
    <li> <a *ngIf="isAuth && authInfo !== null" routerLink = "/creditcard">
        <button mat-stroked-button class="mat-login-header ">
          <span *ngIf ="wallet" class="span-wallet">{{wallet}}</span>
          <img src="assets/image/peas.svg" class="responsive" alt="Login">
        </button>
      </a></li>
    <li>
    </li>
    <li>
    </li>
    <li>
      <div class="row">
        <div class="col">
          <a *ngIf="isAuth && authInfo !== null">
            <div ngbDropdown class="d-inline-block">
              <button id="loginDropDown" mat-stroked-button class="mat-login-header" ngbDropdownToggle>
                <img src="assets/image/auth-user.svg" class="responsive" alt="Login">
              </button>
              <div class="justify-content-center" ngbDropdownMenu aria-labelledby="loginDropDown">
                <span>HELLO {{userName | uppercase}}</span>
                <button [routerLink] ="['/account_details']" ngbDropdownItem >Account Details</button>
                <button [routerLink] ="['/my_store', userName]" ngbDropdownItem >My Store</button>
                <button [routerLink] ="['/my_order', userName]" ngbDropdownItem >Customer Orders</button>
                <button ngbDropdownItem routerLink="/sell_item">Become a Seller</button>
                <a *ngIf="isAuth && authInfo !== null" routerLink="/">
                  <button ngbDropdownItem (click)="logOut()">Log out</button>
                </a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </li>
  </ul>
</mat-toolbar>
