input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.center{
  background-color: white;
}
.big {
    width: 100%;
}
.example-full-width {
  width:80%;
}
.bottom-edit{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  background-color: #688B9A;
  color: white;
}
.mat-calendar-body-cell.selected
{
  background-color:lightgreen!important;
  border-radius: 50%
}
.drop-calendar
{
  width:30rem;
}
.itemstList{
  margin-top: 0%;
}
.ul-slots {
  display: inline-block;
  font-size: 90%;
  color: #36a808;
}