<div>
  <div class="container mt-5 p-4" style="background:white">
    <form #f='ngForm' (ngSubmit)="onSubmit(f)">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-sm-12 ">
          <h5>Item Information:</h5>
          <div [innerHtml]='msgEr' *ngIf="msgEr" style="color: #ff0000;"></div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Item Name" name="name" required [(ngModel)]="itemDetails.data.name">
          </mat-form-field> <br>

          <mat-form-field class="example-full-width">
            <mat-label>Item Description</mat-label>
            <textarea class="md-textarea md-textarea-auto form-control" matInput cdkTextareaAutosize
              #autosize="cdkTextareaAutosize" cdkTextareaAutosize label="Item Description"
              placeholder="Insert the description of the item here" cdkAutosizeMinRows="5" name="description" [(ngModel)]="itemDetails.data.description"
              required></textarea>
          </mat-form-field><br>

          <div class="example-full-width">
            <mat-label>Delivery Slots </mat-label>
            <mat-icon [matMenuTriggerFor]="appMenu">calendar_today</mat-icon>
            <mat-menu #appMenu="matMenu" class="drop-calendar">
              <div (click)="$event.stopPropagation()">
                <mat-calendar #calendar [minDate]="minDate" [maxDate]="maxDate"
                  (selectedChange)="select($event,calendar)" [dateClass]="isSelected">
                </mat-calendar>
              </div>
            </mat-menu>
            <div>
              <ul class="ul-slots" *ngFor="let date of daysSelected">
                {{date}}
              </ul>
            </div>
            <div [innerHtml]='delivery_slots_msg' *ngIf="delivery_slots_msg" style="color: #ff0000;"></div>
          </div>

          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="price" name="price" ngModel required [(ngModel)]="itemDetails.data.price">
            <span matSuffix>Peas</span>
            <div [innerHtml]='price_msg' *ngIf="price_msg" style="color: #ff0000;"></div>
          </mat-form-field>
          <p class="small" color="orange">Notice: if the item is a service, the price is intended as price per hours or
            per service
          </p>


        </div>
        <!-- info  -->
        <div class="col-xl-3  col-sm-12">
          <h5> Contact Information:</h5>
          <mat-form-field>
            <input matInput type="number" placeholder="Phone Number" name="number" ngModel required
            [(ngModel)]="itemDetails.data.number">
            <div [innerHtml]='number_msg' *ngIf="number_msg" style="color: #ff0000;"></div>
          </mat-form-field>



          <p>Address: <mat-icon matSuffix>location_on</mat-icon>
          </p>
          <mat-form-field>
            <input matInput placeholder="country" name="country" ngModel required [maxLength]="50" [(ngModel)]="itemDetails.data.country">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="City" name="city" ngModel required [(ngModel)]="itemDetails.data.city">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="street" name="street" ngModel required [(ngModel)]="itemDetails.data.street">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="zip" placeholder="zip" name="zip" ngModel maxlength="5" required [(ngModel)]="itemDetails.data.zip">
            <div [innerHtml]='zip_msg' *ngIf="zip_msg" style="color: #ff0000;"></div>

          </mat-form-field>


        </div>
        <!-- more  -->
        <div class="col-xl-4  col-sm-12 mt-5 ">

          <mat-checkbox ngForm input type="checkbox" name="is_service" (change)="checkCheckBoxIsService($event)" [(ngModel)]="itemDetails.data.is_service">
            This item is a service
          </mat-checkbox>
          <mat-icon class='colorInfo' matTooltip="Select to see your item on Service section">info_outline</mat-icon>

          <mat-checkbox ngForm input type="checkbox" name="showContactInfo" (change)="checkCheckBoxShowInfo($event)" [(ngModel)]="itemDetails.data.showContactInfo">
            Show my contact information
          </mat-checkbox>
          <mat-icon class='colorInfo' matTooltip="Your contact information will appear to all users">info_outline
          </mat-icon>
          <div>
            <label>Upload image of the item:</label>
            <div [innerHtml]='image_msg' *ngIf="image_msg" style="color: #ff0000;"></div>
            <div><img [src]="url" height="200" width="200" *ngIf="url"></div>
            <p>
              <input type="file" (change)="uploadImage($event)">
            </p>
          </div>
          <button class="bottom-edit big" mat-raised-button type="submit">Update Item</button>
        </div>
      </div>
    </form>
  </div>
</div>