input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container {
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}
.flexSpaceBetween {
  font-size: 90%;
  width: 100%;
  display: inline-block; 
  position: relative; 
}
mat-card-content {
  max-width: 320px;
  margin: 6px 5px 5px 0px;
}
mat-drawer {
  position: fixed;
  background-color: rgb(236, 236, 236);
}
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #f44336;
}
img {
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
}
.data {
  padding: 15px;
}
a {
  cursor: pointer;
  margin-top: 50px;
}
a {
  text-decoration: none;
  color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:hover,
a:active {
  color: rgb(41, 41, 41);
}
.p-num {
  display: -webkit-inline-box;
}
select {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 90%;
  height: fit-content;
}
.example-section {
  font-size: 90%;
  font-weight: normal;
  justify-content: space-between;
  display: flex;
  margin-top: 10%;
}
.example-margin {
  margin-right: 10%;
}
.bottom-search {
  background-color: #688b9a;
  color: white;
}
